html,
body{
    background-color:rgb(38, 37, 44);
    font-family: 'Rubik';
}
h1{
    color:white;
    font-size: 50px;
    font-weight: bold;
    
}
h2{
    font-weight: bold;
}
.p1{
    color:rgb(153, 153, 153);
    font-size: medium;
}
.h1_center{
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
}
.links{
    width: 30%;  
    background-color:rgb(38, 38, 54);
    color:rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgb(22, 22, 22);
    border: 1px;
    border-style: solid;
    border-color: rgb(32, 32, 32);
    text-align: center;
    height: auto;
    cursor: pointer;
    margin: 1px;
    font-size: 3.5em;
}
.links:hover{
    opacity: 0.8;
}
.links_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
}
.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    font-size: auto;
}
.fa-brands{
    margin: auto;
    padding-top: 30px;
    color: rgb(240, 240, 240);
}
.bottom-text{
    position: relative;
    text-align: center;
}
.bottom-p{
    position: fixed;
    bottom: 0;
    width: 100%;
    color:rgb(153, 153, 153);
    font-family: 'Rubik';   
    font-size: medium;
}
.quick-links h3{
    color: white;
    font-family: 'Rubik';
    font-weight: normal;
    text-align: center;
}
