body{
    overflow-y: scroll;
    font-family: 'Rubik';
    background-color: #363636;
}
.page{
    width: 100%;
    height: 100vh;
    margin-top: 5px;
}
.page h1{
    font-size: 3em;
    color: white;
}
#main-header:nth-child(odd) {
    background-color: #303030;
  }

#main-header:nth-child(even) {
    background-color: #2d2d2d;
  }
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#main h1{
    font-size: 4.5em;
}
#main .desc{
    width: auto;
}
#main-header{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header{
    width: auto;
    max-width: 100%;
}
.header h1{
    margin: 0;
    padding: 0;
    font-size: 3.8em;
}
.header hr{
    margin: 0;
    padding: 0;
}
.desc{
    width: 70%;
    color: #9B9B9B;
}
.desc p{
    margin-top: 4px;
}
.left, .right{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    flex-direction: column;
}
.left{
    margin-right: auto;
    display: flex;
}
.right{
    margin-left: auto;  
    align-items: center;
}
.text-top, .text-bottom{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-top{
    margin-bottom: auto;
}
.text-bottom{
    margin-top: auto;
}
.line-middle{
    width: 80%;
}
.img-top, .img-bottom{
    flex: 1;
    max-width: 90%;
    max-height: 47%;
    width: 90%;
    height: 47%;
    margin: 1%;
}
.img-top img, .img-bottom img{
    width: 100%;
    height: 100%;
    object-fit: contain
}
.img-middle{
    flex: 1;
    max-width: 90%;
    max-height: 60%;
    width: 90%;
    height: 60%; 
}
.img-middle img{
    width: 100%;
    height: 100%;
    object-fit: contain 
}
#navMenu {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    opacity: 0.1;
}
#navMenu:hover{
    opacity: 0.5;
}
#navMenu a {
    color: #fff;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    text-align: right;
}
  
#navMenu a:hover {
    opacity: 0.85;
    font-weight: bold;
}